{% extends 'base.html' %}
	{% block content %}
	<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lista de Departamentos Registradas</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Ancho</th>
                        <th>Largo</th>
                        <th>Precio</th>
                        <th>Habitaciones</th>
                        <th>Piso</th>
                        <th>Disponibilidad</th>
                    
                        <th>configuracion</th>
                    </tr>
                </thead>
                <tfoot><tr>
                        <th class="input-filter">Código</th>
                        <th class="input-filter">Ancho</th>
                        <th class="input-filter">Largo</th>
                        <th class="input-filter">Precio</th>
                        <th class="input-filter">Habitaciones</th>
                        <th class="input-filter">Piso</th>
                        <th class="input-filter">Disponibilidad</th>
                        <th>configuracion</th>
                     
                </tr>
                </tfoot>
                <tbody>
                    {% for item in items_departamentos %}
                    <tr>
                        <td>{{ item.codigo }}</td>
                        <td>{{ item.ancho }}</td>
                        <td>{{ item.largo }}</td>
                        <td>{{ item.precio }}</td>
                        <td>{{ item.habitaciones }}</td>
                        <td>{{ item.piso }}</td>
                        <td>{{ item.disponibilidad }}</td>
                       <td><div class="row">
                       		<div class="btn-configuracion col-md-6"><a href="{% url 'propiedades:editardepa' item.codigo %}" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">Editar</a></div>
                       		<div class="col-md-6"><a href="{% url 'propiedades:eliminardepa' item.codigo %}" class="d-sm-inline-block btn btn-sm btn-secondary shadow-sm">Eliminar</a></div>
                       	</div></td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
	{% endblock %}
